<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title%></h1>
    <p>Huskemail er sendt til 
    <% employees.forEach(function(employee) {%>
      <%= employee.email %>, 
    <%});%>
    </p>

    <a href="/">Retur</a>
  </body>
</html>